.home-container {
  padding: 20px;
  background-color: #f4f4f4; /* Light Gray Background */
}

h2, h3 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  border-left: 5px solid #ff4d6d; /* Pink border accent */
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

strong {
  color: #ff4d6d; /* Pink Titles */
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
}
