.navbar {
  background-color: #D63384 !important; /* Deep Pink Header */
  padding: 1rem 2rem;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 20px;
}

.nav-link:hover {
  color: #FFD1DC !important; /* Lighter pink on hover */
}
